.main-container {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.inner-card {
  width: 800px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.hero-img {
  width: auto;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.article-container {
  width: 500px;
  height: 300px;
  background: white;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  border-radius: 0 20px 20px 0;
}

.article-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.article-text {
  font-size: 1.1rem;
  color: var(--desaturated-dark-blue);
}

.bot-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.author-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.author-text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-name {
  font-size: 1.1rem;
  font-weight: 700;
}

.post-date {
  color: var(--grayish-blue);
}

.author-img {
  width: auto;
  height: 100%;
  border-radius: 50%;
}

.share-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-grayish-blue);
  border-radius: 50%;
  z-index: 1;
}

.share-img {
  width: 40%;
  height: auto;
}

.share-button:hover {
  cursor: pointer;
}

.share-button-active {
  background: var(--desaturated-dark-blue);
}

.share-img-active {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

@media screen and (max-width: 800px) {
  .inner-card {
    width: 375px;
    height: 580px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
  }

  .hero-img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .article-container {
    width: 100%;
    height: 330px;
    position: absolute;
    bottom: 0;
    border-radius: 0;
    padding: 40px;
    padding-bottom: 20px;
  }

  .article-title {
    font-size: 1.4rem;
  }

  .article-text {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}